@layer tailwind-base, antd;

@layer tailwind-base {
	@tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

main {
	background-color: #f3f5f9;
}

header {
	border-bottom: 1px solid #e5e8ee;
}

.phone-input {
	display: flex;
	align-items: center;
	border: 1px solid #dee1e7;
	border-radius: 6px;
	font-size: 14px;
}

.phone-input .PhoneInputInput {
	border: none;
	outline: none;
	font-size: 14px;
}

.phone-input .PhoneInputCountry {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 37px;
	background-color: #f3f5f9;
	border-radius: 6px;
}

.phone-input .PhoneInputCountryIcon {
	width: 24px;
	height: 16px;
}

.phone-input .PhoneInputCountrySelect {
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.ant-form-item {
	margin-bottom: 12px !important;
}
.ant-input {
	height: 37px !important;
}

.custom-ant-btn {
	background-color: #eceef1 !important;
	border-color: #e1e4ec !important;
	color: #7682a0 !important;
}

.custom-ant-btn:hover {
	background-color: #eceef1 !important;
	border-color: #e1e4ec !important;
	color: #7682a0 !important;
}

.custom-ant-btn:focus {
	background-color: #eceef1 !important;
	border-color: #e1e4ec !important;
	color: #7682a0 !important;
}
